<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ comp_full_name }}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'lcc_entries:index' %}">Home</a></li>
            <li><a href="{% url 'lcc_entries:about' %}">About</a></li>
            <li><a href="{% url 'lcc_entries:search' %}">Search</a></li>
        </ul>
    </nav>
    <h1>{{ comp_full_name }}</h1>
    <ul>
        {% for entry in current_comp_entries %}
            <li>
                <a href="{% url 'lcc_entries:entry' comp_name=comp_full_name.name slug=entry.slug %}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>